@model IEnumerable<NotesImageSharingApp.Models.Image>

@{
    ViewData["Title"] = "Images";
}

<h1>Images</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Image</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Title</td>
                <td>@image.Url</td>
                <td>@image.DateCreated</td>
                <td>
                    <a href="@Url.Action("Details", new { id = image.ImageId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", new { id = image.ImageId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = image.ImageId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
